:root {
    --primary: #F9F4F5;
    --secondary: #5D737E;
    --tertiary: #1C1018;
}

.bg-t {
    background-color: var(--tertiary);
}


.height-custom {
    min-height: 60vh;
}

.card-w {
    width: 300px;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}